.palette {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-content: center;
}

.color-1 {
    order: 3;
}

.color-3 {
    order: 2;
}

.color-5 {
    order: 1;
}