.movie {
    display: grid;
    grid-template-columns: 1fr 235px;
    margin-bottom: 10px;
    align-items: center;
}

.tag-list {
    display: grid;
    flex-wrap: wrap;
    margin: 0;
    padding: 15px;
}

.tag {
    margin: 5px;
}