.raccoon-card {
    width: 490px;
    padding: 20px;
    display: grid;
    grid-template-columns: 100px 200px 150px;
    grid-template-areas: "avatar name name"
        "avatar email phone"
        "skills skills qr";
    gap: 20px;
}

.title {
    grid-area: title;
}

.name {
    grid-area: name;
    margin-top: 10px;
}

.avatar {
    grid-area: avatar;
}

.email {
    grid-area: email;
}

.skills {
    grid-area: skills;
}

.qr {
    grid-area: qr;
    align-self: end;
    justify-self: end;
}