body {
    margin: 0;
}

.page-header {
    display: grid;
    grid-template-columns: 1fr 160px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 70px;
}

.days-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    row-gap: 30px;
    column-gap: 20px;
}

.page-footer {
    padding: 20px;
    padding-top: 10px;
}